.card {
  background-color: #fff;
  background-clip: border-box;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 4px 14px 4px rgba(0, 0, 0, 0.06);
  .title {
    font-size: 14px;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .ml-15 {
    margin-left: 15px;
  }
  .track-btn {
    margin-left: 8px;
  }
  .error {
    color: red;
    margin-top: 5px;
  }
}
